<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Painter</title>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="/public/stylesheets/style_home.css" type="text/css" media="screen">
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

</head>
<body>

    <div id="uContainer">
        <div><img src="/public/img/texto1_home.png"></div>
        <div id = "img_selector" >
            <div  class = "imgSel"><img id= "img1"></div>
            <div  class = "imgSel"><img id= "img2" ></div>
            <div  class = "imgSel"><img id= "img3" ></div>
            <div  class = "imgSel"><img id= "img4"  ></div>

        </div>  



    </div>
    


    <script src="/public/js/selector.js"></script>
</body>
</html>