<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Painter</title>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="/public/stylesheets/style_home.css" type="text/css" media="screen">
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

</head>
<body>
<img src="/public/img/menu.png" alt="" width="100%" height="auto">


  <div class="uContainer" id="uContainer">
          <div class="texto">
              <img src="/public/img/texto-final.png">
          </div>
          <div class="img_selector" id = "img_selector" >
              <div  class = "imgSel img1"><img src="/public/img/Botones_ilus-01.png" alt="" width="100%" height="auto"></div>
              <div  class = "imgSel img2"><img src="/public/img/Botones_ilus-02.png" alt="" width="100%" height="auto"></div>
              <div  class = "imgSel img3"><img src="/public/img/Botones_ilus-03.png" alt="" width="100%" height="auto"></div>
              <div  class = "imgSel img4"><img src="/public/img/Botones_ilus-04.png" alt="" width="100%" height="auto"></div>
          </div>
      </div>



    <script src="/public/js/selector.js"></script>
</body>
</html>
