*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    //background-color:rgba(255, 255, 255);
    background-color: white;
    width: 100%;
    height: 100%;
}

.uContainer{
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    background-color: rgba(0,0,0,0.8);
    padding: 1%;    
    margin: auto;
    padding: 0;
    .contUCanvas{
        display: flex;
        flex-flow: column;
        text-align: center;
        align-items: center;
        width: 100%;
        height: 80vh;
        .uCanvas{
            width: 100%;
            height: 60%;            
        }
    }
    .uUI{
        box-sizing: border-box;
        background-color: #E6E6E6;
        width: 100%;
        height: 20vh;
        display: flex;
        flex-flow: column wrap;
        div{
            width: 50%;
        }
        .colors{
            text-align: center;
            display: grid;
            grid-template-columns: 20% 20% 20% 20% 20%;
            .color{
                width: 100%;
                padding-top: 50%;
                border: 2px solid white;            
            }
            .c1{
                margin-left: auto;
            }
        }
        .uBrush{
            color: white;
            width: 7vw;
            height: 7vw;
            margin: auto;
            svg{
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
        }
        .brushSlider{
            #brushScale{
                width: 90%;
                margin-top: 20%;            
            }
        }
        .sendButton{            
            text-align: center;
            margin: auto;
            padding:0;
            .sendCanvas{
                padding-bottom: 0;
                margin-left: auto;
                margin-right: auto;
                width: 70%;
            }              
        }
    }
}

@media only screen and (min-width: 480px) {    
    .uContainer{
        height: 100vh;
        .contUCanvas{
            height: 100%;
            width: 85%;
        }
        .uUI{
            height: 100%;
            width: 15%;
            div{
                width: 100%;
            }
            .colors{
                text-align: center;
                display: grid;
                grid-template-columns: 50% 50%;
                .color{
                    width: 50%;
                    padding-top: 50%;
                    border: 4px solid white;            
                }
                .c1{
                    margin-left: auto;
                }
            }
        }
        
    }
}