*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    background-color:rgba(230, 230, 230, 1.0);
}

#uContainer{
    display: flex;
    flex-flow: row wrap;
    padding: 5px;
    justify-content: center;
    text-align: center;
}

.texto{
    width: 100%;
    height: 250px;
    padding: 5px;
}
.texto > img{
    height: 100%;
}

.img_selector{
    width: 100%;
    height: 250px;
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    height: 250px;
}
.img_selector div{
    width: 50%;
    height: 50%;
}
.imgSel{
min-height: 190px;
}
.imgSel > img{
    display:block;
    margin:auto;
    padding: 20px;
}
.imgSel > img:hover{

    filter: grayscale(80%);
}

/*
.imgSel{
    width: 100%;
    height: auto;
    float: left;
    background: url(/public/img/Botones_ilus-01.png) no-repeat;
    transition: .7s;
}
.imgSel:hover{
    opacity: 0.5;
    transition: .7s;
    background: url(/public/img/Img1_hover.png) no-repeat;
}*/

@media only screen and (min-width: 768px) {
    #uContainer{
        height: 100vh;
        padding: 3%;
    }
    .texto{
        width: 50%;
        height: 100%;
        padding: 3%;
    }
    .texto > img{
        width: 100%;
    }
    .img_selector {
        width: 50%;
        height: 100%;
        padding: 3%;
    }
}
